{% extends "galleries/base.html" %}
    {% block content %}
        
        <div class="gallery_topbox message">
            {% if user.is_authenticated %}
                {% if done is False %}
                    <span class="success"><h3>Welcome {{user.username}}</h3></span>
                {% endif %}
            {% else %}
                <span class="fail"><h3>Please login for more service</h3></span>
            {% endif %}
        </div>
        <div class="gallery_topbox">
            {% for num in container %}
                <div class="ball blue">{{num}}</div>
            {% endfor %}
            {% for num in bonus %}
                <div class="ball red">{{num}}   </div>
            {% endfor %}
        </div>

        <div style="display:flex;
        justify-content: center;
        align-items: center; height:5%;width:100%;">
            {% if done is False %}
                <span style="color:cornflowerblue;">Insert lottery numbers below</span>
            {% endif %}
            {% if done is None %}
                <span style="color:crimson;">You have inserted invalid numbers</span>
            {% endif %}
            {% if done is True %}
                {% if count < 3 %}
                    <span style="color:crimson;">You have wasted your money</span>
                {% elif count == 3 %}
                    <span style="color:crimson;">You have placed on the 5th place</span>
                {% elif count == 4 %}
                    <span style="color:crimson;">You have placed on the 4th place</span>
                {% elif count == 5 %}
                    <span style="color:crimson;">You have placed on the 3rd place</span>
                {% elif count == 6 %}
                    {% if isbonus == True %}
                        <span style="color:crimson;">You have placed on the 2nd place</span>
                    {% else %}
                        <span style="color:crimson;">You have placed on the 1st place</span>
                    {% endif %}
                {% endif %}


            {% endif %}
        </div>
        <!--



        -->
        <div style="display:flex;
        justify-content: center;width:70%;height:6%;
        align-items: center; display: flex;

        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: 15px 18px 41px -2px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 15px 18px 41px -2px rgba(0, 0, 0, 0.66);
  box-shadow: 15px 18px 41px -2px rgba(0, 0, 0, 0.66);
  border-radius: 40px;">
            <div style="height:30%">
                <form class="ballinput" method="POST" action="{% url "home:gallery" %}">
                    {% csrf_token %}
                    <label for="num1"></label>
                        {{form.num1}}
                    <label for="num2"></label>
                        {{form.num2}}
                    <label for="num3"></label>
                        {{form.num3}}
                    <label for="num4"></label>
                        {{form.num4}}
                    <label for="num5"></label>
                        {{form.num5}}
                    <label for="num6"></label>
                        {{form.num6}}
                    <button class="submit">submit</button>
                </form>
            </div>        
        </div>
        <div style="display:flex;
        justify-content: center;
        align-items: center; height:20%"></div>
        <div style="display:flex;
        justify-content: center;
        align-items: center; height:20%"></div>
    {% endblock %}
